/* * {
    border: 1px solid red;
  } */

.admin-button-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: black;
}

.admin-button {
    background-color: black;
    color: lightskyblue;
    border: none;
}

.profile-icon {
    height: 15px;
    width: 15px;
}

.logo-image {
    height: 35px;
    width: 35px;
}

.button-and-logo-container {
    display: flex;
    background-color: black;
    justify-content: space-between;
}

.btn-group {
    display: flex;
    padding-top: 40px;
    margin-bottom: 20px;
}

.button {
    background-color: black;
    border: none;
}

#shareButton {
    color: white;
}

.share-image {
    height: 15px;
    width: 15px;
}

#playlistButton {
    color: grey;
}

.playlist-image {
    height: 15px;
    width: 15px;
}

#personalVideoButton {
    color: grey;
}

.personal-image {
    height: 15px;
    width: 15px;
}

.logo {
    display: flex;
    color: white;
    font-size: 25px;
    margin-top: 15px;
}

.content-container {
    background-color: gainsboro;
    height: 100vh;
}

.card-info-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 8px 7px
}

.foward-button {
    height: 45px;
    width: 45px;
    border-radius: 60%;
    margin-left: 5px;
}

.foward-image {
    height: 30px;
    width: 30px;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    height: 350px;
    width: 200px;
    border-width: 2px;
    border-color: black;
}

.card-info-header {
    display: flex;
    justify-content: space-between;
}

.card-info-body {
    height: 280px
}

.recipeint {
    font-size: 14px;
}

.date {
    font-size: 11px;
    color: gray;
}

.link {
    background-color: lightgray;
    height: 40px;
    width: 190px;
    margin-left: 5px;
}

.playlist {
    font-size: 13px;
}

.namePlaylist {
    font-size: 14px;
}

.attachments {
    font-size: 13px;
}

.numberAttachments {
    color: lightskyblue;
    font-size: 30px;
}

/* .view-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} */

.view-text {
    color: white;
}

.view-number {
    color: white;
    font-size: 20px;
}

#cardHeader1 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/assets/peep1.jpeg');
    background-size: 200px 100px;
}

#cardHeader2 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/assets/peep2.jpeg');
    background-size: 200px 100px;
}

#cardHeader3 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/assets/peep3.jpeg');
    background-size: 200px 100px;
}

#cardHeader4 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/assets/peep4.jpeg');
    background-size: 200px 100px;
}

#cardHeader5 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/assets/peep5.jpeg');
    background-size: 200px 100px;
}

#cardHeader6 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/assets/peep6.jpeg');
    background-size: 200px 100px;
}

#cardHeader7 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/assets/peep7.jpeg');
    background-size: 200px 100px;
}

#cardHeader8 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/assets/peep8.jpeg');
    background-size: 200px 100px;
}

