
body {
    background-color: gainsboro;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
}

.admin-button-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: black;
}

.admin-button {
    background-color: black;
    color: lightskyblue;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.profile-icon, .down-arrow {
    height: 15px;
    width: 15px;
}

.button-and-logo-container {
    display: flex;
    background-color: black;
    justify-content: space-between;
}

.btn-group {
    display: flex;
    padding-top: 80px;
    margin-bottom: 20px;
}

.button {
    background-color: black;
    border: none;
    cursor: pointer;
    height: 25px;
    width: 180px;
    font-size: 18px;
}

#shareButton {
    color: white;
}

.share-image, .playlist-image, .personal-image  {
    height: 15px;
    width: 15px;
}

#playlistButton, #personalVideoButton {
    color: grey;
}

.logo {
    display: flex;
    color: white;
    font-size: 25px;
    margin-top: 0px;
    font-weight: bold;
}

.logo-image {
    height: 35px;
    width: 35px;
}

.website-name {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 0px;
    margin-top: 60px;
    margin-right: 15px;
}

h1 {
    font-size: 35px;
}

.card-info-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 8px 7px;
    justify-content: space-around;
}

.foward-button {
    height: 45px;
    width: 45px;
    border-radius: 60%;
    margin-left: 5px;
}

.foward-button:hover {
    background-color: lightskyblue;
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
  }

.foward-image {
    height: 30px;
    width: 30px;
}

.card-info {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 365px;
    width: 250px;
    border-width: 2px;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.card-info:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in
  }

.card-info-header {
    display: flex;
    justify-content: space-between;
}

.card-info-body {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    height: 280px
}

.recipeint {
    font-size: 14px;
    margin-bottom: 0px;
}

.date {
    font-size: 11px;
    color: gray;
    margin-top: 0px;
}

.link {
    background-color: lightgray;
    height: 33px;
    width: 230px;
    margin-left: 5px;
    font-size: 11px;
}

.playlist, .attachments {
    font-size: 13px;
    margin-bottom: 0px;
}

.namePlaylist {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px;
}

.numberAttachments {
    color: lightskyblue;
    font-size: 27px;
    margin-top: 0px;
}

.view-text {
    color: white;
    margin-bottom: 0px;
    margin-top: 5px;
}

.view-number {
    color: white;
    font-size: 20px;
    margin-top: 0px;
    padding-bottom: 40px;
}

#cardHeader1 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('assets/peep1.jpeg');
    background-size: 255px 115px;
}

#cardHeader2 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('assets/peep2.jpeg');
    background-size: 255px 115px;
}

#cardHeader3 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('assets/peep3.jpeg');
    background-size: 255px 115px;
}

#cardHeader4 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('assets/peep4.jpeg');
    background-size: 255px 115px;
}

#cardHeader5 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('assets/peep5.jpeg');
    background-size: 255px 115px;
}

#cardHeader6 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('assets/peep6.jpeg');
    background-size: 255px 115px;
}

#cardHeader7 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('assets/peep7.jpeg');
    background-size: 255px 115px;
}

#cardHeader8 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('assets/peep8.jpeg');
    background-size: 255px 115px;
}

